In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

raw_data = pd.read_csv("death-cause-reason-by-country.csv")
raw_data.describe() # print the summary of the data.

,Covid-19 Deaths,Cardiovascular diseases,Respiratory diseases,Kidney diseases,Neonatal disorders,Meningitis,Malaria,Interpersonal violence,HIV/AIDS,Tuberculosis,...,Neoplasms,"Fire, heat",Drowning,Drug use disorders,Road injuries,Environmental heat and cold exposure,Self-harm,Conflict and terrorism,Diabetes,Unnamed: 32
count,188.000000,1.910000e+02,1.910000e+02,191.000000,191.000000,191.000000,191.000000,191.000000,191.000000,191.000000,...,1.910000e+02,191.000000,191.000000,191.00000,191.000000,191.000000,191.000000,191.000000,191.000000,0.0
mean,10461.404255,9.808936e+04,2.104242e+04,7490.712042,9759.513089,1217.586387,3275.036649,2157.356021,4378.549738,6071.649215,...,5.372821e+04,580.554974,1237.518325,684.08377,6246.371728,248.068063,3987.272251,327.717277,8120.701571,NaN
std,35107.423980,3.956782e+05,1.162353e+05,24085.215522,39729.671493,4486.652415,15318.488537,6791.964692,14466.789042,31918.460441,...,2.194755e+05,2129.850424,5733.965491,4873.21600,24346.918766,1138.294126,17190.775429,2078.774610,26275.139588,NaN
min,1.000000,8.000000e+00,1.000000e+00,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,3.000000e+00,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,3.000000,NaN
25%,84.750000,4.648500e+03,5.295000e+02,342.000000,104.500000,13.500000,0.000000,55.500000,22.000000,30.500000,...,2.183500e+03,23.000000,37.000000,11.00000,187.500000,4.000000,174.000000,0.000000,412.500000,NaN
50%,612.500000,1.815700e+04,2.529000e+03,1813.000000,549.000000,83.000000,0.000000,316.000000,171.000000,329.000000,...,1.008400e+04,117.000000,167.000000,53.00000,1049.000000,24.000000,671.000000,0.000000,1899.000000,NaN
75%,3986.750000,5.737250e+04,7.118000e+03,4773.500000,5296.500000,474.000000,92.000000,945.000000,1813.500000,2284.500000,...,2.958100e+04,505.500000,689.500000,201.50000,4352.500000,114.500000,2197.000000,5.000000,4736.500000,NaN
max,353948.000000,4.584273e+06,1.168381e+06,222922.000000,438004.000000,44914.000000,191106.000000,65907.000000,143851.000000,422634.000000,...,2.716551e+06,25876.000000,56524.000000,65717.00000,250025.000000,11348.000000,195336.000000,24295.000000,273089.000000,NaN

In [8]:
causes = list(raw_data.columns) # list all the columns
causes = causes[2:-1] # fetch all columns from index 2 until the n-1.
print("The causes are:" + str(causes))

The causes are:['Cardiovascular diseases', 'Respiratory diseases ', 'Kidney diseases', 'Neonatal disorders ', 'Meningitis ', 'Malaria ', 'Interpersonal violence', 'HIV/AIDS', 'Tuberculosis', 'Maternal disorders', 'Lower respiratory infections', 'Alcohol use disorders', 'Diarrheal diseases', 'Poisoning', 'Nutritional deficiencies', " Alzheimer's disease", "Parkinson's disease", ' Acute hepatitis', 'Digestive diseases', ' Cirrhosis and other chronic liver diseases', 'Protein-energy malnutrition', 'Neoplasms', 'Fire, heat', 'Drowning', 'Drug use disorders', 'Road injuries', 'Environmental heat and cold exposure', 'Self-harm', ' Conflict and terrorism', 'Diabetes ']